body {
    font-size: 4em;
    background-color: #000;
    color: #ffcc00;
    font-family: 'advent', sans-serif;
}
div.displayelement {
    padding: 0.1em;
}
.line {
    overflow: hidden;
    display: block;
}
.scheduled {
    float: left;
    width: 15%;
}
.destination {
    float: left;
    white-space: nowrap;
}
div.secondary {
    overflow: hidden;
}
.expected {
    float: right;
    text-align: right;
    width: 24%;
}
div.scrollWrapper, div.scrollableArea {
    overflow: hidden;
}
div.destination {
    width: 56%;
    position: relative;
    height: 1.1em;
}
div#next-destination div.scrollableArea p {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
    float: left;
}
